.lupa{
    position: fixed;
    right: 1%;
    background: #7579E7;
}
.lupaHijo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.lupa img{
    cursor: pointer;
}
.lupa input{
    width: 0;
    height: 40px;
    position: relative;
    top: 15%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0;
}
.lupa input::placeholder{
    margin-left: 50px;
}
@keyframes growFromLeft {
    from {
        display: none;
        width: 0;
        padding-left: 0;
    }
    to {
        display: inline;
      width: 250px;
      padding-left: 5px;
    }
  }

  @keyframes shrinkToLeft {
    from {
        display: inline;
        width: 250px;
        padding-left: 5px;
    }
    to {
      width: 0;
      display: none;
      padding-left: 0;
    }
  }
  .grow {
    animation: growFromLeft .7s ease-out forwards;
    -webkit-animation: growFromLeft .7s ease-out forwards;
}

  .shrink {
    animation: shrinkToLeft .7s ease-out;
    -webkit-animation: shrinkToLeft .7s ease-out;
}
.visible{
    display: inline;
}
.noVisible{
    display: none;
}