.contInfo{
    margin: 18px;
}
@media (max-width: 600px) {
    .selected{
        display: none;
    }
    .dropdownRuta{
        width: 25px;
    }
    .caret{
        margin-left: -3px;
    }
    .menuList{
        width: 12vh;
    }
}
.botonAsignar {
    width: 7vw;
    color: #fefefe;
    background: #7579E7;
    border-radius: 5px;
    border: none;
    position: fixed;
    right: 2%;
    bottom: 2%;
    cursor: pointer;
    display: block;
    text-align: center;
    z-index: 1;
}