.contInfo{
    margin: 18px;
}
@media (max-width: 600px) {
    .selected{
        display: none;
        opacity: 0;
    }
    .dropdownRuta{
        width: 25px;
    }
    .caret{
        margin-left: -3px;
    }
    .menuList{
        width: 12vh;
    }
}