.divCamiones{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    flex-direction: column;
    z-index: -1;
}
.camion {
    animation: moverCamion1 8s infinite;
    height: 200px;
    z-index: -1;
}
.camion2{
    height: 200px;
    animation: moverCamion2 8s infinite;
    z-index: -1;
}
@keyframes moverCamion1 {
    0% {
        transform: translateX(0) rotateY(0deg);
    }
    25% {
        transform: translateX(calc(100vw - 200px)) rotateY(0deg);
}
    50% {
        transform: translateX(calc(100vw - 200px)) rotateY(180deg);
}
    75% {
        transform: translateX(0) rotateY(180deg); /* Regreso a la posición inicial con rotación */
    }
    100% {
        transform: translateX(0) rotateY(0deg);
    }
}
@keyframes moverCamion2 {
    0% {
        transform: translateX(calc(100vw - 200px)) rotateY(0deg);
}
    25% {
        transform: translateX(0) rotateY(0deg);
}
    50% {
        transform: translateX(0) rotateY(180deg);
}
    75% {
        transform: translateX(calc(100vw - 200px)) rotateY(180deg);
}
    100% {
        transform: translateX(calc(100vw - 200px)) rotateY(0deg);
}
}
