.tableContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-responsive {
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  cursor: default;
  color: #3d3d3d;
  border-radius: 10px; /* Bordes redondeados para la tabla */
  overflow: hidden; 
}

.custom-table thead {
  background-color: #c0c0c0; /* Color de fondo del encabezado */
  color: white; /* Color del texto en el encabezado */
}

.custom-table th,
.custom-table td {
  border: 1px solid #dee2e6; /* Bordes de celdas */
  padding: 12px; /* Espaciado interno */
}

/* Efecto hover solo en las filas del tbody */
.custom-table tbody tr:hover td {
  background-color: #a8a8a8; /* Color de fondo al pasar el ratón por las celdas del tbody */
}
.custom-table tbody tr th{
  pointer-events: none;
  background: #c0c0c0;
  text-align: center;
}
/* Estilo para filas pares (2, 4, 6, ...) */
.custom-table tbody tr:nth-child(even) {
  background-color: #c0c0c0; /* Color de fondo para filas pares */
}

/* Estilo para filas impares (1, 3, 5, ...) */
.custom-table tbody tr:nth-child(odd) {
  background-color: #d9d9d9; /* Color de fondo para filas impares */
}

/* No aplicar hover en el thead */
.custom-table thead tr:hover {
  background-color: inherit; /* Mantiene el color original en los th */
  pointer-events: none;
}
