.modalInfo {
  position: fixed;
  background-color: #fefefe;
  border: 1px solid #ccc;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 8px;
  z-index: 1000;
  max-width: 300px;
  left: 0; /* Alinea el modal a la izquierda */
  top: 50%; /* Centra verticalmente en la pantalla */
  transform: translateY(-50%); /* Ajusta el desplazamiento vertical para centrar */
  animation: fadeIn 0.2s ease-in-out;
}

  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .modalInfo h3 {
    margin-top: 0;
    font-size: 1.2em;
  }
  
  .modalInfo p {
    margin: 5px 0;
    font-size: 1em;
  }
  